<h1> Register hospital staff</h1>

<%= form_for Staff.new do |f| %>

<p>

    Staff Names:        <%= f.text_field :name %><br />
    Staff Role:         <%= f.text_field :role %><br />
    Staff Address:      <%= f.text_field :address %><br />
    Staff Phone Number: <%= f.text_field :phone %><br />

</p>      <%= f.submit :class => 'btn btn-primary btn-large' %>

<% end %>
