<%=  render :layout => 'layouts/default' do %>
    <div class="col-md-4 col-md-offset-4 well">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-signin"}) do |f| %>
            <h2 class="form-signin-heading">Sign Up</h2>

            <%= f.label :name, class:"sr-only" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Name",  autofocus: true %>

            <%= f.label :email, class:"sr-only" %>
            <%= f.email_field :email, class: "form-control", placeholder: "Email Address",  autofocus: true %>

            <%= f.label :password, class:"sr-only" %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <br />
            <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>

            <%= f.label :password_confirmation, class:"sr-only" %>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password", autocomplete: "off" %>

        <div class="actions">
            <%= f.submit "Sign up", class:"btn btn-lg h btn-color btn-block" %>
        </div>
        <br />
        <%= render "admins/shared/links" %>
      <% end %>
    </div>
<%  end  %>
