<%=  render :layout => 'layouts/default' do  %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Patient Record</div>
        <div class="well">

        <p>
          Height: <%= @record.height %><br />
          Weight: <%= @record.weight %><br />
          Temperature: <%= @record.temperature %><br />
          Blood pressure: <%= @record.blood_pressure %><br />
          Symptoms: <%= @record.symptoms %><br />
          Diagnosis: <%= @record.diagnosis %><br />
        </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
