<h3> Patient Record </h3>

<p>
	Height: <%= @record.height %>
	Weight: <%= @record.weight %>
	Temperature: <%= @record.temperature %>
	Blood pressure: <%= @record.blood_pressure %>
	Symptoms: <%= @record.symptoms %>
	Diagnosis: <%= @record.diagnosis %>
</p>
