<p>
                        Names  :<%= patient.name %><br />
                        SSN  :<%= patient.ssn %><br />
                        Gender :<%= patient.gender %><br />
                        Date of Birth :<%= patient.date_of_birth %><br />
                        Phone Number :<%= patient.phone %><br />
                        Email Address :<%= patient.email %><br />
                        Next of Kin :<%= patient.next_of_kin %><br />
                        Next of Kin Contact :<%= patient.next_of_kin_contact %><br />
                    </p>