<h3> Patient Record </h3>
<p> Names  :<%= @patient.name %><br />
    Gender :<%= @patient.gender %><br />
    Date of Birth :<%= @patient.date_of_birth %><br />
    Phone Number :<%= @patient.phone %><br />
    Email Address :<%= @patient.email %><br />
    Next of Kin :<%= @patient.next_of_kin %><br />
    Next of Kin Contact :<%= @patient.next_of_kin_contact %>
</p>
<p> <%= link_to "Register Patient", new_patient_path %><br />
    <%= link_to "Edit Patient Details", edit_patient_path %><br />
    <%= link_to "List of Patients", patients_path %>
</p>
