<%=  render :layout => 'layouts/default' do  %>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Patient Details</div>
                <div class="panel-body">
                    <%= render @patient %>
                    <p>
                        <%= link_to "Add Record", new_patient_record_path(params[:id]) %><br />
                        <%= link_to "Edit Patient Details", edit_patient_path %><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Records</div>
                <div class="panel-body">
                    <%  if @patient.records.any?  %>
                            <%= render @records  %>
                    <%  else  %>
                        No Records Found
                    <%  end  %>
                </div>
            </div>
        </div>
    </div>
<%  end  %>
