
<%=  render 'hospitals/links'  %>
<%=  render layout: 'dashboard/dashboard' do %>
    <div class="row">
        <div class="col-md-4">

            <h3> Give Hospital Details </h3>

            <% unless @hospital.errors.empty? %>
                <div id="error_explanation">
                    <h3><%= pluralize(@hospital.errors.count, "error") %> found</h3>
                    <ul>
                        <% @hospital.errors.full_messages.each do |msg| %>
                            <li><%=msg%></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= form_for @hospital do |h| %>

                <div class="form-group">
                    <%= h.label :name %>
                    <%= h.text_field :name, :class => "form-control" %>
                </div>
                <div class="form-group">
                    <%= h.label :location %>
                    <%= h.text_field :location, :class => "form-control" %>
                </div>
                <div class="form-group">
                    <%= h.label :level %>
                    <%= h.text_field :level, :class => "form-control" %>
                </div>
                <div class="form-group">
                    <%= h.label :address %>
                    <%= h.text_field :address, :class => "form-control" %>
                </div>
                <div class="form-group">
                    <%= h.submit 'Submit Hospital', :class => 'btn btn-primary btn-large'%>
                </div>

            <% end %>
        </div>
    </div>
<%  end  %>
