<h1>Register Your Hospital</h1>

<%= form_for Hospital.new do |h| %>
	
	Hospital ID: <%= h.text_field :id %><br />
	Name: <%= h.text_field :name %><br />
	Location: <%= h.text_field :location %><br />
	Level: <%= h.text_field :level %><br />
	Address: <%= h.text_field :address %><br />
	<%= h.submit 'Submit Hospital' %>

<%end%>
