<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">

            <h3> Hospital Record </h3>

            <p>
                Hospital name: <%= @hospital.name %><br />
                Ref: <%= @hospital.ref %><br />
                Location:      <%= @hospital.location %><br />
                Level:         <%= @hospital.level %><br />
                Address:       <%= @hospital.address %><br />
                Created:       <%= @hospital.created_at %><br />
                Updated:       <%= @hospital.updated_at %><br />   
            </p> 
        </div>
    </div>
</div>
