<%=  render 'hospitals/links'  %>
<%=  render layout: 'dashboard/dashboard' do %>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3> Hospital Record </h3>
                </div>
                <div class="panel-body">

                    <p>
                        Hospital name: <%= @hospital.name %><br />
                        Ref: <%= @hospital.ref %><br />
                        Location:      <%= @hospital.location %><br />
                        Level:         <%= @hospital.level %><br />
                        Address:       <%= @hospital.address %><br />
                        Created:       <%= @hospital.created_at %><br />
                        Updated:       <%= @hospital.updated_at %><br />   
                    </p> 
                    <%= link_to 'Edit', edit_hospital_path(@hospital.id), class: 'btn btn-small'  %>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3> Hospital Staff </h3>
                    <div class="panel-body">
                        <%  if @staffs.any?  %>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th>SSN</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <% @staffs.each do |h| %>
                                    <tr>
                                        <td><%= h.name  %></td>
                                        <td><%= h.role %></td>
                                        <td><%= h.email %></td>
                                        <td><%= h.ssn %></td>
                                        <td>
                                            <%  if @hospital.staffs.include? h  %>
                                                <a href="/hospitals/destroy/<%=  h.id  %>/to/<%=  @hospital.id  %>" class="btn btn-danger">Terminate</a>
                                                <%# <%=  link_to controller: "hospitals", %>
                                                <%#     action: "destroy_appointment", %>
                                                <%#     staffs_id: s.id, %>
                                                <%#     hospital_id: @hospital.id do %1> %>
                                                <%#     <button class="btn btn-danger">Terminate</button> %>
                                                <%# <%  end  %1> %>

                                        <% else  %>
                                            <a href="/hospitals/link/<%=  h.id  %>/to/<%=  @hospital.id  %>" class="btn btn-primary">Assign</a>
                                            <%# <%=  link_to controller: "hospitals", %>
                                            <%#     action: "create_appointment", %>
                                            <%#     staffs_id: h.id                                               do %1> %>
                                            <%#     <button class="btn btn-primary">Assign</button> %>
                                            <%# <%  end  %1> %>
                                    <%  end  %>
                                </td>
                            </tr>
                        <%  end  %>
                    </table>
                <%  else  %>
                    No Staff Present
                <%  end  %>
            </div>
        </div>
    </div>
</div>
</div>
<%  end  %>
