<h3> Hospital Record </h3>

<p>
Hospital name: <%= @hospital.name %><br />
Location:      <%= @hospital.location %><br />
Level:         <%= @hospital.level %><br />
Address:       <%= @hospital.address %><br />
Created:       <%= @hospital.created_at %><br />
Updated:       <%= @hospital.updated_at %><br />   
</p> 