<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <%= yield %>
        <%# <%= render 'layouts/footer' %1> %>
        <div class="modal hide fade" id="modal-edit-signup">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                <h3 id="myModalLabel">New Post</h3>
            </div>
            <div class="modal-body a-unique-class">
                New Post Body
            </div>
            <div class="modal-footer">
                <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </body>
</html>
